
<header>
    <nav>
        <a href="{{path('home')}}" class="logo"></a>
        <div class="menu">
            <ul>
                <li><a href="{{path('realisations')}}">Galerie</a></li>
                <li><a href="#">Dessin</a></li>
                <li><a href="#">Grafity</a></li>
                <li><a href="#">Autres </a></li>
            </ul>
        </div>
        <div class="user"  >
            <svg xmlns="http://www.w3.org/2000/svg" id="userIcon" height="35" width="35" viewBox="0 0 448 512">g>
<path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></sv        </div>
        <div class="user-menu">
            <ul>
                {% if is_granted('ROLE_User') %}
                {{app.user.fullname}}
                <li><a href="" >Profil</a></li>

                {% else %}
                <li><a href="{{path('signup')}}" >S'inscrire</a></li>
                <li><a href="{{path('login')}}" >Se connecter</a></li>
                {% endif %}
            </ul>
        </div>

    </nav>
</header>